<p-card *ngIf="contact" [header]="fullName">
    <p>
        <label for="name">Name:</label>
        <span id="name">{{ contact.name }}</span>
    </p>
    <p>
        <label for="surname">Surname:</label>
        <span id="surname">{{ contact.surname }}</span>
    </p>
    <p>
        <label for="email">Email:</label>
        <span id="email">{{ contact.email }}</span>
    </p>
    <p>
        <label for="phone">Phone:</label>
        <span id="phone">{{ contact.phone }}</span>
    </p>
    <p>
        <label for="address">Address:</label>
        <span id="address">{{ contact.address }}</span>
    </p>
</p-card>
