<p-card header="Contacts">
    <p-table
        [value]="contacts ?? []"
        [scrollable]="true"
        [paginator]="true"
        [rows]="25"
        [rowsPerPageOptions]="[25, 50, 100]"
        scrollHeight="flex"
        styleClass="p-datatable-striped p-datatable-sm"
        [rowHover]="true"
        [rowTrackBy]="trackContact"
        selectionMode="single"
        [selection]="selectedContact"
        (selectionChange)="select.next($event)"
        dataKey="id"
    >
        <ng-template pTemplate="header">
            <tr>
                <th class="name">Name</th>
                <th class="name">Surname</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact>
            <tr [pSelectableRow]="contact">
                <td class="name">{{ contact.name }}</td>
                <td class="name">{{ contact.surname }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
